
Saved/Autosaves/Game/PuzzleBP/Maps/PuzzleExampleMap_Auto3.umap
Saved/Autosaves/Game/Sprite/TetrisUI2_Sprite_0_Auto3.uasset
Saved/Autosaves/Game/Sprite/TetrisUI3_Sprite_0_Auto3.uasset
Saved/Autosaves/Game/Sprite/TetrisUI_Sprite_0_Auto3.uasset
Saved/Backup/PuzzleExampleMap_2023-04-01-16-25-45.umap
Saved/Logs/RixGame.log
*.log
Saved/Logs/RixGame.log
Saved/Autosaves/Game/Sprite/TV4_Auto4.uasset
Saved/Autosaves/Game/Sprite/TV3_Auto4.uasset
Saved/Autosaves/Game/Sprite/TV0_Auto4.uasset
